@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}
.main-container {
	--ckeditor5-preview-height: 700px;
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
    display: contents;
	margin-right: auto;
}
.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}
.editor-container__editor-wrapper {
	display: flex;
	width: fit-content;
}
.editor-container_document-editor {
	border: 1px solid var(--ck-color-base-border);
}
.editor-container_document-editor .editor-container__toolbar {
	display: flex;
	position: relative;
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
}
.editor-container_document-editor .editor-container__toolbar > .ck.ck-toolbar {
	flex-grow: 1;
	width: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.editor-container_document-editor .editor-container__menu-bar > .ck.ck-menu-bar {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.editor-container_document-editor .editor-container__editor-wrapper {
	max-height: var(--ckeditor5-preview-height);
	min-height: var(--ckeditor5-preview-height);
	overflow-y: scroll;
	background: var(--ck-color-base-foreground);
}
.editor-container_document-editor .editor-container__editor {
	margin-top: 28px;
	margin-bottom: 28px;
	height: 100%;
    position: absolute;
    left: -174px;
    scale: 0.72;
    transform-origin: top;
}
.bx-arrow-to-bottom-stroke{
    font-size: 27px;
}
.editor-container_document-editor .editor-container__editor .ck.ck-editor__editable {
	box-sizing: border-box;
	min-width: calc(210mm + 2px);
	max-width: calc(210mm + 2px);
	min-height: 297mm;
	height: fit-content;
	padding: 20mm 12mm;
	border: 1px hsl(0, 0%, 82.7%) solid;
	background: hsl(0, 0%, 100%);
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
	flex: 1 1 auto;
	margin-left: 72px;
	margin-right: 72px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Cascadia Code', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    background-size: cover;
    height: 97vh;
    width: 98vw;
}
a[href="https://www.froala.com/wysiwyg-editor?k=u"]{
    display: none!important;
}
.notch{
    border-radius: 10px;
    position: absolute;
    top: 3px;
    display: flex;
    gap: 2px;
    width: 92%;
    color: rgb(0 0 0 / 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 30px;
    transform: translate(-50%);
    left: 49%;
    background: rgb(0 0 0 / 79%);
}
.notch-icon{
 color: white;
 opacity: 0.7;
}
.customizeCont{
    z-index: 6;
    margin-top: 33px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    display: none;
    padding-bottom: 10px;
    height: auto;
    width: 533px;
}
.backgrounds{
    padding-left: 1.5%;
    padding-right: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 30px;
    overflow-y: scroll;
    max-height: 427px;
}
#defaultBg{
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}
.bg-item{
    min-width: 165px;
    width: 165px;
    border-radius: 10px;
    height: 135px;
    cursor: pointer;
}
#fileSelectBg{
    display: none;
}
.dropBg{
    transition: all ease 0.3s;
    border: 2px dashed white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#selectBg{
    display: block;
    width: 97%;
    border-radius: 10px;
    height: 30px;
    margin: 0 auto;
    margin-top: 25px;
}
.iframe-form{
    z-index: 6;
    display: none;
    top: 72px;
    padding: 10px;
    left: 44vw;
    width: 400px;
    border-radius: 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
.bx{
    cursor: pointer;
}
.bx-minus{
    color: white;
    font-size: 25px;
}
#btnCloseWindow{ color: white}
.bx-minus:hover{
    background-color: rgba(255, 255, 255, 0.67);
}
#iframe_url{
    background: none;
    color: white;
    width: 87%;
    outline: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
#btnGo{
    padding: 10px;
    cursor: pointer;
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}
iframe{
    border-width: 0;
}
.window-top{
    gap: 4px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.btnProfile{
    background: none;
    padding: 0px 10px;
    border: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.95);
}
#newWindow{
    padding: 2px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    position: fixed;
    transform: translate(305px, -47px);
    font-size: 30px;
}
#window-title{
    padding: 4px;
    border-radius: 10px;
    background: black;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}
#windowAction{
    border: none;
    background: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all ease 0.15s;
}
#windowAction:hover{
    background-color: #202020d6;
}
.iframeCont{
    width: 40%;
    resize: both;
    overflow: auto;
    z-index: 999999;
    height: 70%;
    display: none;
    position: absolute;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: grab;
    margin: auto;
    left: 30vw;
    top: 10vh;
}
.iframeCont::-webkit-scrollbar {
  width: 10px;
  background-color: transparent; /* Hace el riel invisible */
}
.main{
    margin: 20px;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.left{
    width: 73%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.middle{
    z-index: -2;
    position: absolute;
    transition: all ease 0.2s;
    opacity: 0;
    transform: scale(0);
    width: 80%;
    border-radius: 20px;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
}
#example{
    width: 100%;
    transform-origin: top;
    position: absolute;
    scale: 1;
    top: 0px;
    left: 0px;
}
.fr-toolbar{
    display: flex;
    flex-wrap: wrap;
}
fr-btn-grp{
    display: flex;
    margin: 0!important;
}
.fr-toolbar.fr-sticky-on{
    width: 100%!important;
}
.bx-hover:hover{
    opacity: 0.9!important;
}
.bx-hover:active{
    opacity: 1!important;
}
.plugin{
    align-items: center;
    flex-direction: column;
    scale: 0;
    z-index: -2;
    position: absolute;
    color: white;
    border-radius: 20px;
    width: 31%;
    padding: 15px;
    background-color: black;
    opacity: 0.5;
    margin: 0 5px;
    transition: all ease 0.1s;
}
.player{
    width: 100%;
    height: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.playlist{
    width: 100%;
    height: 63%;
    overflow-y: scroll;
}
.playlist::-webkit-scrollbar {
  width: 0.01px; /* Ancho de la barra de desplazamiento */
}
.currentSong{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.currentSong i{
    font-size: 40px;
    transition: all ease 0.3s;
}
.currentSong input[type="range"]{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: none;
}
.currentSong input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  border-radius: 30px;
  background: white;
}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -6px; /* Centers thumb on the track */
   background-color: white;
   height: 1rem;
   width: 1rem;    
   border-radius: 50px;
}
#waves{
    scale: 2;
    width: 40px;
    height: 50px;
    position: relative;
    margin-bottom: 60px;
}
#waves span{  
  width:10px;  
  height: 5px;  
  bottom:0px;
  position:absolute;  
  background:white;  
  -webkit-animation: bodong 0.5s infinite  ease;
  animation: bodong 0.5s infinite ease;
}  
#waves span:first-child{  
  left:0px;  
  -webkit-animation-delay:.3s; 
  animation-delay: .3s;
}  
#waves span:nth-child(2){  
  left:10px;  
  -webkit-animation-delay:.4s;
  animation-delay: .4s;
}  
#waves span:nth-child(3){  
  left:20px;  
  -webkit-animation-delay:.6s;
  animation-delay: .6s;
}  
#waves span:nth-child(4){  
  left:30px;  
  -webkit-animation-delay:.8s;
  animation-delay: .8s;
}  
#waves span:nth-child(5){  
  left:40px;  
  -webkit-animation-delay:1s;
  animation-delay: 1s;
} 
.friends-cont{
    display: none;
    width: 100%;
    height: 92%;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.search{
    display: flex;
    justify-content: center;
}
#searchBar{
    background: none;
    border: 1px solid white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 5px 10px;
    outline: none;
    color: white;
}
#btnAddFriend{
    background: none;
    color: white;
    border: 1px solid white;
    padding: 5px 16px;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#btnFolders{
    display: none;
    font-size: 23px;
}
@keyframes bodong{ 
  0%{height:15px; background:white;}  
  30%{height:35px; background:white;}  
  60%{height:40px; background:white;}  
  80%{height:35px; background:white;}  
  100%{height:25px; background:white;}  
}
.pausedAnim{
    -webkit-animation-play-state:paused!important;
    -moz-animation-play-state:paused!important;
    -o-animation-play-state:paused!important; 
    animation-play-state:paused!important;
}
.playlist button{
    width: 100%;
    background: none;
    text-align: start;
    color: white;
    padding: 7px 13px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all ease 0.3s;
}
.playlist button:hover{
    background-color: #ffffff1a;
}
.active-song{
    background-color: #ffffff1a!important;
}
.top-tab{
    display: flex;
    justify-content: end;
    width: 99%;
}
.bx-x{
    z-index: 9;
    display: flex;
    width: 6%;
    height: 5%;
    justify-content: center;
    font-size: 25px;
}
.bx-x:hover {
    background: red;
    color: white;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    height: 88%;
}
.ql-toolbar.ql-snow {
    background-color: white;
    padding: 0px;
}
.ql-snow * {
    background: white;
}
#editorContainer{
    height: 100%;
}
.tox-tinymce{
    height: 97%!important;
}
.fileBtn{
    background: none;
    border: 1px solid white;
    white-space: normal;
    color: white;
    padding: 5px 10px;
    margin: 6px;
    border-radius: 10px;
    cursor: pointer;
}
.right{
    color: white;
    border-radius: 20px;
    width: 25%;
    padding: 15px;
    background-color: black;
    opacity: 0.5;
}
.display{
    color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    width: 100%;
    overflow-y: scroll;
    border-radius: 20px;
    height: 92.5%;
    background-color: rgba(0, 0, 0, 0.5);
}
.backgrounds::-webkit-scrollbar{
    width: 0.01px;
}
.display::-webkit-scrollbar {
  width: 0.01px; /* Ancho de la barra de desplazamiento */
}
.messagebar{
    width: 100%;
    border-radius: 20px;
    height: 6.5%;
    background-color: black;
    opacity: 0.5;
    display: flex;
    justify-content: start;
}
#input{
    flex: 0.993;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    outline: none;
}
#btn_send{
    font-size: 39px;
}
.bx-msg-ico{
    display: flex;
    align-items: center;
    text-align: center;
    width: 32px;
    transition: all ease 0.3s;
    cursor: pointer;
    height: 100%;
    font-size: 2.1em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.bx-msg-ico:hover{
    background-color: #FFFFFF1A;
}
.folders-cont{
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.folder{
    position: relative;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
    transition: all ease 0.3s;
    border-radius: 9px;
}
.folder:hover > .bx-dots-horizontal-rounded{
    display: flex;
}
.folder:hover > .folder-title{
    margin-left: 21px;
}
.folder:hover{
    background-color: #ffffff1a;
}
.folder-title{
    text-align: center;
    width: 100%;
    font-size: 28px;
}
.bottom-ico{
    transition: all ease 0.3s;
    margin-left: 5px;
    font-size: 1.3em;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    float: right;
}
.bottom-ico:hover{
    background-color: #FFFFFF1A;
}
.uploadWrapper{
    transform: translate(-50%, -50%);
    z-index: 99;
    color: white;
    position: absolute;
    left: 50%;
    display: none;
    top: 37%;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.uploadWrapper input{
    display: none;
}
.uploadButtons{
    display: flex;
    justify-content: end;
    gap: 30px;
}
.uploadWrapper button{
    transition: all ease 0.3s;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: #FFFFFF1A;
    border-radius: 20px;
    border: 1px solid white;
}
.uploadWrapper button:hover{
    opacity: 0.8;
}
.uploading-cont{
    display: none;
    position: absolute;
    left: 39%;
    top: 35%;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    background-color: #FFFFFF1A;
    border-radius: 20px;
}
.uploading-cont span{
    text-align: center;
    display: inline-block;
    width: 100%;
}
#addFolder{
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all ease 0.3s;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-style: dashed;
    font-size: 28px;
}
#addFolder:hover {
    transform: scale(1.005);
    background-color:#FFFFFF1A;
}
.bx-dots-horizontal-rounded {
    display: none;
    font-size: 21px;
    align-items: center;
    opacity: 0.9;
}
.bx-dots-horizontal-rounded:hover{
    opacity: 1;
}
.logout{
    color: white;
}
#formFolder{
    display: none;
    width: 100%;
}
#inputFolder{
    width: 100%;
    background: transparent;
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 11px;
}
.rounded-4{
    max-height: 375px;
    max-width: 500px;
    border-radius: 10px;
}
.currentFolder{
    border-radius: 9px;
    border: 1px solid white;
}
.top-content{
    align-items: center;
    cursor: grab;
    width: 100%;
    margin-top: -2px;
    display: flex;
    justify-content: space-between;
}
.top-content span{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;      /* IE 10 y Edge antiguo */
    user-select: none;
    position: relative;
    font-weight: bold;
}
.bx-group{
    color: white;
    font-size: 24px;
}
.bx-chevron-left{
    visibility: hidden;
    transition: all ease 0.3s;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    font-size: 31px;
}
.bx-arrow-back:hover {
    background-color: #FFFFFF1A;
}
.display a {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    color: mediumslateblue;
    text-overflow: ellipsis;
    overflow: hidden;
    color: mediumslateblue;
}
.display a:hover{
    background-color: #ffffff1a;
}
.dropArea {
    transition: all ease 0.3s;
    text-align: center;
    padding: 34px 52px;
    border: 2px dashed white;
    margin: 25px 0;
    cursor: pointer;
}
.dropArea:hover{
    background-color: #FFFFFF1A;
}
.fileItem{
    margin: 11px 0px;
    overflow-wrap: break-word;
    max-width: 333px;
    text-align: left;
    font-size: 16px;
}
.bx-menu{ display: none;}
.volumeManager{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#genVolumeBar{
    opacity: 0;
    appearance: none;
    height: 3px;
    width: 50px;
    border-radius: 20px;
}
#genVolumeBar::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   border-radius: 50%;
   appearance: none;
   width: 11px;
   height: 11px;
   margin-top: 0.5px; /* Centers thumb on the track */
}
.folderMenuCont{
  align-items: center;
  border-radius: 10px;
  padding: 2px;
  border: 1px solid white;
  z-index: 9;
  background: black;
  position: absolute;
  right: -30px;
  top: 27px;
  display: none;
  flex-direction: column;
}
.bx-trash{
  font-size: 27px;
}
.bx-forward-big{
  font-size: 27px;
}
.msgMenuCont {
  position: absolute;
  display: none;
  right: 0;
}
.linkCont:hover > .msgMenuCont{
    display: flex;
}
.volumeManager:hover > #genVolumeBar{
    opacity: 1;
}
.linkCont {
  display: flex;
  position: relative;
}
.linkCont:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.controls{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.bx-rotate-ccw{
    padding: 2px;
    border-radius: 50%;
    font-size: 30px!important;
}
@media only screen and (max-width: 768px) {
  .notch{
    z-index: 1;
    scale: 1.09;
    top: 0px;
    border-radius: 0px;
    left: 53%;
    width: 94%;
  }
  .notch b{
    display: none;
  }
  .right{
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0.85;
    width: 70vw;
    height: 100vh;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 2;
  }
  .main{
    margin: 0px;
    padding: 0px;
  }
  .left{
    width: 100%;
  }
  .display{
    margin-left: 2px;
    width: 99%;
    margin-top: 5vh;
    height: 88vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .display a{
    max-width: 90vw;
  }
  body{
    width: 100vw;
    height: 100vh;
  }
  #input {
    width: 79%;
  }
  .messagebar{
    margin: auto;
    width: 99%;
    border-radius: 28px;
    justify-content: start;
  }
  .bx-msg-ico{
    font-size: 2em;
    padding-left: 0px;
    width: 9%;
  }
  .uploadWrapper{
    left: 50%;
  }
  .uploadWrapper button{
    font-size: 25px;
    border-radius: 25px;
  }
  .uploading-cont{
    left: 3.5%;
  }
  .bx-menu{
    z-index: 1;
    display: block;
    font-size: 28px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.777);
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  .bottom-ico{
    font-size: 2em;
  }
  .folders-cont {
    width: 100%;
    height: 90%;
  }
  .plugin{
    width: 100%;
    z-index: 1!important;
    margin-top: 5vh;
  }
}