@import url('https://fonts.cdnfonts.com/css/cascadia-code');
*{
    margin: 0;
    padding: 0;
    font-family: 'Cascadia Code', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    height: 97vh;
    width: 98vw;
}
.notch{
    position: absolute;
    top: 0px;
    border-bottom-left-radius: 25px;
    color: rgba(255, 255, 255, 0.95);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 25px;
    padding: 2px 30px;
    left: 50vw;
    background: rgba(0, 0, 0, 0.5);
}
.bxs-music{
    color: white;
    opacity: 0.7;
}
.iframe-form{
    display: none;
    top: 72px;
    padding: 10px;
    left: 44vw;
    width: 400px;
    border-radius: 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
.bx{
    cursor: pointer;
}
.bx-minus{
    color: white;
    font-size: 25px;
}
#btnCloseWindow{ color: white}
.bx-minus:hover{
    background-color: rgba(255, 255, 255, 0.67);
}
.bx-globe{
    color: white;
    opacity: 0.7;
}
#iframe_url{
    background: none;
    color: white;
    width: 87%;
    outline: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
#btnGo{
    padding: 10px;
    cursor: pointer;
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}
.window-top{
    display: flex;
    padding-left: 8px;
    align-items: center;
}
.btnProfile{
    background: none;
    padding: 2px 10px;
    border: none;
    color: rgba(255, 255, 255, 0.95);
}
#newWindow{
    padding: 2px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    position: fixed;
    transform: translate(305px, -47px);
    font-size: 30px;
}
#window-title{
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 92%;
    overflow: hidden;
    color: white;
}
.iframeCont{
    width: 40%;
    resize: both;
    overflow: auto;
    z-index: 999999;
    height: 70%;
    display: none;
    position: absolute;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: grab;
    background: black;
    margin: auto;
    left: 30vw;
    top: 10vh;
}
.main{
    margin: 20px;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.left{
    width: 73%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.middle{
    z-index: -2;
    position: absolute;
    transition: all ease 0.2s;
    opacity: 0;
    transform: scale(0);
    width: 80%;
    border-radius: 20px;
    height: 100%;
    overflow: hidden;
    background-color: white;
}
.plugin{
    align-items: center;
    flex-direction: column;
    display: flex;
    color: white;
    border-radius: 20px;
    width: 31%;
    padding: 15px;
    background-color: black;
    opacity: 0.5;
    margin: 0 5px;
}
.player{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playlist{
    width: 100%;
    height: 70%;
}
#waves{
    scale: 2;
    width: 40px;
    height: 50px;
    position: relative;
}
#waves span{  
  width:10px;  
  height: 5px;  
  bottom:0px;
  position:absolute;  
  background:white;  
  -webkit-animation: bodong 0.5s infinite  ease;  
}  

#waves span:first-child{  
  left:0px;  
  -webkit-animation-delay:.3s;  
}  

#waves span:nth-child(2){  
  left:10px;  
  -webkit-animation-delay:.4s;  

}  
#waves span:nth-child(3){  
  left:20px;  
  -webkit-animation-delay:.6s;  
}  
#waves span:nth-child(4){  
  left:30px;  
  -webkit-animation-delay:.8s;  
}  
#waves span:nth-child(5){  
  left:40px;  
  -webkit-animation-delay:1s;  
}  

@-webkit-keyframes bodong{  
  0%{height:15px; background:white;}  
  30%{height:35px; background:white;}  
  60%{height:40px; background:white;}  
  80%{height:35px; background:white;}  
  100%{height:25px; background:white;}  
}
.playlist button{
    width: 90%;
    background: none;
    text-align: start;
    color: white;
    padding: 7px 13px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all ease 0.3s;
}
.playlist button:hover{
    background-color: #ffffff1a;
}
.top-tab{
    display: flex;
    justify-content: end;
    width: 100%;
}
.bx-x{
    display: flex;
    width: 6%;
    height: 5%;
    justify-content: center;
    font-size: 25px;
}
.bx-x:hover {
    background: red;
    color: white;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    height: 88%;
}
.ql-toolbar.ql-snow {
    background-color: white;
    padding: 0px;
}
.ql-snow * {
    background: white;
}
#editorContainer{
    height: 100%;
}
.tox-tinymce{
    height: 97%!important;
}
.fileBtn{
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    margin: 1px;
    border-radius: 10px;
    cursor: pointer;
}
.right{
    color: white;
    border-radius: 20px;
    width: 25%;
    padding: 15px;
    background-color: black;
    opacity: 0.5;
}
.display{
    color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    width: 100%;
    overflow-y: scroll;
    border-radius: 20px;
    height: 92.5%;
    background-color: rgba(0, 0, 0, 0.5);
}
.display::-webkit-scrollbar {
  width: 0.01px; /* Ancho de la barra de desplazamiento */
}
.messagebar{
    width: 100%;
    border-radius: 20px;
    height: 6.5%;
    background-color: black;
    opacity: 0.5;
    display: flex;
    justify-content: start;
}
#input{
    width: 91%;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    outline: none;
}
.bx-msg-ico{
    display: flex;
    align-items: center;
    text-align: center;
    width: 4%;
    padding-left: 6px;
    transition: all ease 0.3s;
    cursor: pointer;
    height: 100%;
    font-size: 2.1em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.bx-msg-ico:hover{
    background-color: #FFFFFF1A;
}
#sendto{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    padding-left: 6px;
    padding-right: 6px;
}
option{
    background-color: #764536;
}
.folders-cont{
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.folder{
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
    transition: all ease 0.3s;
}
.folder:hover > .bx-dots-horizontal-rounded{
    display: flex;
}
.folder:hover > .folder-title{
    margin-left: 21px;
}
.folder:hover{
    background-color: #ffffff1a;
}
.folder-title{
    text-align: center;
    width: 100%;
    font-size: 28px;
}
.bottom-ico{
    transition: all ease 0.3s;
    margin-left: 5px;
    font-size: 1.3em;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    float: right;
}
.bottom-ico:hover{
    background-color: #FFFFFF1A;
}
.uploadWrapper{
    color: white;
    position: absolute;
    left: 39%;
    display: none;
    top: 30%;
    gap: 20px;
    flex-direction: column;
    background-color: #FFFFFF1A;
    padding: 20px;
    border-radius: 20px;
}
.uploadWrapper input{
    display: none;
}
.uploadButtons{
    display: flex;
    justify-content: end;
    gap: 30px;
}
.uploadWrapper button{
    transition: all ease 0.3s;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: #FFFFFF1A;
    border-radius: 20px;
    border: 1px solid white;
}
.uploadWrapper button:hover{
    opacity: 0.8;
}
.uploading-cont{
    display: none;
    position: absolute;
    left: 39%;
    top: 35%;
    color: white;
    padding: 20px;
    background-color: #FFFFFF1A;
    border-radius: 20px;
}
.uploading-cont span{
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
#addFolder{
    padding: 10px 20px;
    cursor: pointer;
    transition: all ease 0.3s;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-style: dashed;
    font-size: 28px;
}
#addFolder:hover {
    transform: scale(1.005);
    background-color:#FFFFFF1A;
}
.bx-dots-horizontal-rounded {
    display: none;
    font-size: 21px;
    align-items: center;
    opacity: 0.9;
}
.bx-dots-horizontal-rounded:hover{
    opacity: 1;
}
.logout{
    color: white;
}
#formFolder{
    display: none;
    width: 100%;
}
#inputFolder{
    width: 100%;
    background: transparent;
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 11px;
}
.rounded-4{
    max-height: 375px;
    max-width: 500px;
    border-radius: 10px;
}
.currentFolder{
    border: 1px solid white;
}
.top-content{
    align-items: center;
    width: 100%;
    margin-top: -2px;
    display: flex;
    justify-content: space-between;
}
.top-content span{
    position: relative;
    left: 20px;
    font-weight: bold;
}
.bx-arrow-back{
    visibility: hidden;
    transition: all ease 0.3s;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    font-size: 31px;
}
.bx-arrow-back:hover {
    background-color: #FFFFFF1A;
}
.display a {
    display: inline-block;
    white-space: nowrap;
    max-width: 511px;
    color: mediumslateblue;
    text-overflow: ellipsis;
    overflow: hidden;
    color: mediumslateblue;
}
.dropArea {
    transition: all ease 0.3s;
    text-align: center;
    padding: 34px 52px;
    border: 2px dashed white;
    margin: 25px 0;
    cursor: pointer;
}
.dropArea:hover{
    background-color: #FFFFFF1A;
}
.fileItem{
    text-align: left;
    font-size: 16px;
}
.bx-menu{ display: none;}
@media only screen and (max-width: 768px) {
  .right{
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0.85;
    width: 70vw;
    height: 100vh;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 2;
  }
  .main{
    margin: 0px;
    padding: 0px;
  }
  .left{
    width: 100%;
  }
  .display{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  body{
    width: 100vw;
    height: 100vh;
  }
  #input {
    width: 79%;
  }
  .messagebar{
    margin: auto;
    width: 99%;
    border-radius: 28px;
    justify-content: start;
  }
  .bx-msg-ico{
    font-size: 2em;
    padding-left: 0px;
    width: 9%;
  }
  .uploadWrapper{
    left: 3.5%;
  }
  .uploadWrapper button{
    font-size: 25px;
    border-radius: 25px;
  }
  .uploading-cont{
    left: 3.5%;
  }
  .bx-menu{
    display: block;
    font-size: 37px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.777);
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  .bottom-ico{
    font-size: 2em;
  }
  .folders-cont {
    width: 100%;
    height: 90%;
  }
}